doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/utils.js')
  body
    block content
    input(
      id='input-name'
    )
    input(
      id='input-task'
    )
    button(type='button' id='submit-data') Submit 
    p(id='message') 
    input(
      id='search-name'
    )
    button(type='button' id='search') Search
    hr
    footer Copyright Vy